body{
    background-color: #fffbf7;
    text-align: center;
}
h1{
    color: #8b8b8bcc;
    font: bold;
}
.caja1{
    position: relative;
    background-color: transparent;
  
}
.subtitulo{
    color: #46484c;
}
#logo{
    width: 40%;
}
#subemail{
    font-size: medium;
}
#enviar{
    background-color: #025157;
    color: #fff
}